// Colores Deep Tech
$bg-dark: #0b0f1a;         
$bg-card: #161b2a;         
$accent: #00f2ff;          
$secondary: #7000ff;       
$text-main: #f8fafc;       
$text-muted: #94a3b8;      

// Sombras y Efectos
$glow-shadow: 0 0 20px rgba($accent, 0.4);
$card-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);